<div nz-col [nzSpan]="24" class="topbar">
  <div>
    <nz-button-group>
      <button nz-button [disabled]="running$ | async" [nzType]="'primary'" (click)="startPcap()"
              nz-tooltip nzTooltipTitle="Start capture">
        <i nz-icon nzType="caret-right" nzTheme="outline"></i>
      </button>
      <button nz-button [disabled]="(running$ | async) === false" [nzType]="'default'" (click)="pausePcap()"
              nz-tooltip nzTooltipTitle="Pause capture">
        <i nz-icon nzType="pause" nzTheme="outline"></i>
      </button>
      <button nz-button [nzType]="'default'" (click)="clear()"
              nz-tooltip nzTooltipTitle="Clear packets">
        <i nz-icon nzType="clear" nzTheme="outline"></i>
      </button>
    </nz-button-group>
  </div>
  <ng-container *ngIf="filterAutocomplete$ | async as autoCompleteDataSource">
    <input type="text" nz-input placeholder="filter"
           [ngModel]="filterString$ | async"
           (ngModelChange)="filterString$.next($event)"
           [class.ng-invalid]="invalidFilterString$ | async"
           [nzAutocomplete]="filterAutocomplete"
           class="filter-input">
    <nz-autocomplete [nzDataSource]="autoCompleteDataSource" nzBackfill #filterAutocomplete></nz-autocomplete>
  </ng-container>

  <div>
    <button nz-button nzType="primary" (click)="filterString$.next('')">
      <i nz-icon nzType="undo" nzTheme="outline"></i>
    </button>
  </div>
</div>
<div nz-row class="packets">
  <div nz-col [nzSpan]="12">
    <nz-table
      *ngIf="packetsDisplay$ | async as packets"
      [nzBordered]="true"
      nzSize="small"
      [nzVirtualItemSize]="25"
      [nzVirtualMinBufferPx]="400"
      [nzVirtualMaxBufferPx]="800"
      [nzData]="packets"
      [nzVirtualForTrackBy]="trackByMessage"
      [nzFrontPagination]="false"
      [nzShowPagination]="false"
      [nzScroll]="{y: '390px'}"
      nzHideOnSinglePage>
      <thead>
      <tr>
        <th nzLeft nzWidth="40px">S/C</th>
        <th nzLeft nzWidth="80px">OpCode</th>
        <th>Packet</th>
        <th nzWidth="80px">Size</th>
      </tr>
      </thead>
      <tbody>
      <ng-template nz-virtual-scroll let-message let-index="index">
        <tr class="packet-{{message.header.operation}}" [class.odd]="index % 2 === 1" (click)="selectPacket(message)">
          <td nzLeft>{{message.header.operation === 'send' ? 'C' : 'S'}}</td>
          <td nzLeft>{{message.opcode | hex:4}}</td>
          <td>{{message.type}}<span *ngIf="message.subType">#{{message.subType}}</span></td>
          <td>{{message.header.size}}</td>
        </tr>
      </ng-template>
      </tbody>
    </nz-table>
  </div>
  <div nz-col [nzSpan]="12">
    <nz-card nzTitle="Details" class="details-card" nzSize="small">
      <div *ngIf="selectedPacket$ | async as packet; else empty" class="details-container">
        <pre *ngIf="packet.parsedIpcData">{{packet | packetJson}}</pre>
      </div>
      <ng-template #empty>
        <nz-empty nzNotFoundContent="No selected packet"></nz-empty>
      </ng-template>
    </nz-card>
  </div>

</div>
<nz-card class="dissector-card" nzTitle="Dissector ({{(selectedPacket$ | async)?.type}})">
  <div *ngIf="selectedPacket$ | async as packet; else empty">
    <c7-dissector [message]="packet"></c7-dissector>
  </div>
  <ng-template #empty>
    <nz-empty nzNotFoundContent="No selected packet"></nz-empty>
  </ng-template>
</nz-card>
