@topbar-height: 32px;
@packets-height: 400px;

:host ::ng-deep {
  .cdk-virtual-scroll-viewport {
    overflow-x: hidden;
    overflow-y: auto;
  }

  .ant-table {
    overflow-x: hidden;
    height: 100%;
  }

  .details-card {
    height: @packets-height;

    .ant-card-body {
      height: ~"calc(100% - 40px)";
    }

    .details-container {
      height: 100%;
      overflow: auto;
    }
  }

  .dissector-card {

    .ant-card-body {
      height: ~"calc(100% - 60px)";
      overflow: auto;
    }
  }
}

.packet-send {
  cursor: pointer;

  td {
    background-color: rgba(169, 253, 245, 0.1);
  }

  &.odd {
    td {
      background-color: rgba(169, 253, 245, 0.15);
    }
  }
}

.packet-receive {
  cursor: pointer;

  td {
    background-color: rgba(255, 245, 137, 0.1);
  }

  &.odd {
    td {
      background-color: rgba(255, 245, 137, 0.15);
    }
  }
}

.topbar {
  height: @topbar-height;
  display: flex;

  .filter-input {
    flex: 1 1 auto;

    &.ng-invalid {
      border: 1px solid #F5222DFF;
    }
  }
}

.packets {
  height: @packets-height;
}

.dissector-card {
  height: ~"calc(100vh - @{topbar-height} - @{packets-height})";
}
